CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wsign-conversion
    - -Wshadow
    - -Wold-style-definition
    - -Wcast-align
    - -Wcast-qual
    - -Wundef
    - -Wdouble-promotion
    - -Wformat=2
    - -Wimplicit-fallthrough
    - -Wnull-dereference

---
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add:
    - -std=c17
    - -xc

---
If:
  PathMatch: .*\.(cpp|hpp|cc|cxx)$
CompileFlags:
  Add:
    - -std=c++17
