CompileFlags:
  Add:
    - -Wall
    - -Wextra

---
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add:
    - -std=c17
    - -xc

---
If:
  PathMatch: .*\.(cpp|hpp|cc|cxx)$
CompileFlags:
  Add:
    - -std=c++17
