config/.config/go
config/.config/geany
config/.config/libvirt
config/.config/nautilus
config/.config/pamixer
config/.config/pavuvcontrol.ini
config/.config/pulse
config/.config/qalculate
config/.config/vlc
