configuration {
 modi: "window,drun,ssh,combi";
 font: "Inconsolata Nerd Font";
 combi-modi: "window,drun,ssh";
 fixed-num-lines: false;
 show-icons: false;

 }
@theme "./themes/custom.rasi"
// @theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
